parameters:
    level: 6
    paths:
        - %currentWorkingDirectory%/Classes
    reportUnmatchedIgnoredErrors: false
    ignoreErrors:
       - '#Parameter \#[\d] \.\.\.\$predicates of method TYPO3\\CMS\\Core\\Database\\Query\\QueryBuilder::where\(\) expects array<int, mixed>\|Doctrine\\DBAL\\Query\\Expression\\CompositeExpression, string given\.#'
       - '#Constant TYPO3_MODE not found#'
